/* HOMEPAGE GRID GOES HERE */
main {
    grid-template-areas:
    "a a a a b b b b"
    "c c c d d d d d"
    "e e e e e e e e";
}

.one {
    grid-area: a;
}

.two {
    grid-area: b;
}

.thr {
    grid-area: c;
}

.fou {
    grid-area: d;
}

.fiv {
    grid-area: e;
}

@media only screen and (min-width: 800px) {
    main {
        grid-template-rows: 150px 125px auto;
    }
}