body {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

header {
    margin: 4rem auto auto auto;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 300px;
}

.item {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
}

h2 {
    font-size: 1.45rem;
    background-color: rgba(0, 0, 0, .2);
    padding-left: 1rem;
    line-height: .75rem;
}

.image {
    position: relative;
    margin: auto;
    padding: 0;
}

.imaa {
    display: block;
    max-width: 100%;
    height: auto;
    filter:grayscale(100%);
    transition: filter 1s 50ms ease-in-out;
}

.imaa:hover {
    filter: grayscale(0%);
}

a {
    color: rgb(221, 69, 69);
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 1);
}

a.wires {
    color:rgb(235, 72, 72);
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
}

.imgLnk {
    margin: .5rem;
    position: absolute;
    bottom: 0;
}

.f {
    margin-top: 1rem;
}

a.foot {
    color:rgb(211, 36, 36);
    transition: all 1s 50ms ease-in-out;
}

a.foot:hover {
    font-style: italic;
    transform: translateX(-2rem);
}
