main {
    grid-template-areas:
    "a a a a a a a a"
    "b b b b b c c c"
    "d d d e e e e e"
    "f f f f g g g g"
    "h h h h h h h h";
}
.one {
    grid-area: a;
}

.two {
    grid-area: b;
}

.thr {
    grid-area: c;
}

.fou {
    grid-area: d;
}

.fiv {
    grid-area: e;
}

.six {
    grid-area: f;
}

.sev {
    grid-area: g;
}

.eig {
    grid-area: h;
}

@media only screen and (max-width: 350px) {
    main {
        grid-template-rows: auto;
        grid-gap: 0;
        grid-template-areas: 
        "a a a a a a a a"
        "b b b b b b b b"
        "c c c c c c c c"
        "e e e e e e e e"
        "d d d d d d d d"
        "f f f f f f f f"
        "g g g g g g g g"
        "h h h h h h h h";
    }

    .thr, .six {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 500px) {
    main {
    grid-template-rows: auto 150px 125px 200px auto auto auto;
    grid-gap: 1.5rem;
    grid-template-areas:
    "a a a a a a a a"
    "b b b c c c c c"
    "d d d d d e e e"
    "f f f f g g g g"
    "h h h h h h h h"
    ;
    }
}