/* #region SITE OVERALL */
  /* #region SITE OVERALL meta */
    * {
      box-sizing: border-box;
    }

    html {

      /* #region Variables */

        /* body text formatting */
          --bodyTextMobSz: clamp(18px, 3vmin, 22px);
          --bodyTextDeskSz: ;
          --bodyLineHeight: 1.7rem;
        
        /* body colors */
          --bg: /*#ffebeb */ rgb(253, 227, 233);
          --asideBg: #c2e2f2; /*lt. blue */

          --title: #0068c9; /* strong blue */
          --type: rgb(0, 0, 0); /* black */
          
          --link: #8a4f01; /* latte */
          --drpLnk: #8a4f01be;
          --drpLnkHov: #8a4f0181;

        /* main */
          --mainCont: #9dd6f2; /* lt. strong blue */
          --mainContMobHome: #d3d3d39a; /* transparent lt. gray */
          --mainContMobElse: #d3d3d3E6;
          
          --mainGridGap: 1.5rem;
          
          --bodyHead: #292929;
          --bodyHeadLn: rgb(172, 178, 189); /* #dbca9a */
          /* PRETTY PINK: rgb(231, 156, 173) */
          --bodyHead2Ln: #f2e3d3;

        /* form */
        --formBorder: #0059ff; /*primary blue */
        --formPrefill: hsla(207, 47%, 46%, .7); /*dark gray */
        --formFieldsBorder: hsl(207, 47%, 46%);
        --formError: rgb(194, 67, 35);
        --buttonBg: #f2cfaa; /* latte */

        /* boxes */
          /* 1 */
            --box1Bg: #deb785FF; /* golden caramel */
            --box1BgHov: #deb885af;

          /* 2 */
            --box2Bg: #c98c3cFF; /* caramel */
            --box2BgHov: #c98c3cb6;

          /* 3 */
            --box3Bg: #c09255FF;
            --box3BgHov: #c09255af;

        /* animation durations */
          /* GO HERE */

      /* #endregion */

      /* -------------------- Site Style Basics */

      font-size: var(--bodyTextMobSz);
      font-family: 'mencken-std-text', Rufina, Georgia, serif;
      color: var(--type);
      background: var(--bg);
      line-height: var(--bodyLineHeight);
    }

    body {
      margin: 0;
    }

  /* #endregion */
  /* #region SITE OVERALL content */

    a {
      text-decoration: none;
      color: var(--link);
      transition: color .5s ease-in-out;
    }

    a:hover {
      color: var(--drpLnk);
    }

    a[target="_blank"] {
      padding: 0;
      border-bottom: 1px dashed var(--link);
    }
  /* #endregion */

/* #endregion */

/* #region MOBILE MAIN */
  /* #region MOBILE MAIN overall */

    /* MOBILE MAIN overall: element styling */
    
      main {
        position: absolute;
        margin: auto;
        top: 30vmin;
        left: 0;
        padding: 0 0 1rem 0;
        width: 100%;
        overflow: hidden;
        min-height: 80vh;

        background-color: var(--mainContMobElse);
        transition: all 3.5s ease-in-out;
      }

      .onHoverMain {  transform: translateY(40vmin);}

      #home main {  background-color: var(--mainContMobHome);}

    /* MOBILE MAIN overall: inside styling */

      /*main article {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1.5rem;
        width: 100%;
      }*/

      main * {  transition: all 1s ease-in-out;}
  
  /* #endregion */

  /* #region MOBILE MAIN Body */

    /* #region MOBILE MAIN Body Content: headers */

      main h1 {
        /* ---------- body headers ------------ */
        font-family: 'mencken-std-head', Rufina, Georgia, serif;
        font-size: clamp(30px, 10vmin, 10vmin);
        height: min-content;
        letter-spacing: 1px;
        color: var(--bodyHead);
        text-indent: 1rem;
        line-height: .8rem;
        border-bottom: 3vmin solid var(--bodyHeadLn);
        margin: 1rem 0 .5rem 0;
        padding: 0 .3rem 0 0;
        width: max-content;
      }

      main h2 {
        /* ---------- body subheaders ------------ */
        font-family: 'mencken-std-head', Rufina, Georgia, serif;
        font-size: clamp(24px, 8vmin, 8vmin);

        color: var(--bodyHead);
        line-height: .8rem;
        text-indent: 1.5rem;
        border-bottom: 3vmin solid var(--bodyHead2Ln);
        margin: 0;
        padding: 0 .4rem 0 0;
        width: max-content;
      }

      main a.button {
        display: block;
        font-weight: bold;
        font-family: 'mencken-std-head', Rufina, Georgia, serif;
        font-size: clamp(22px, 5vmin, 5vmin);
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
      }

      main a.button.lg {
        font-size: clamp(18px, 4vmin, 4vmin);
      }

      main a.button:hover {
        transform: translateX(-2rem);
        color: var(--link);
      }

      main a.button.fwd:hover {  transform: translateX(2rem);}
    /* #endregion */

    /* MOBILE MAIN Body Content: paragraphs */

      main p {  margin: .5rem 1.5rem 1.5rem 1.5rem;}

      main ul {  list-style: circle;}

  /* #endregion */

  /* #region MOBILE MAIN footer */

    /* footer: container */
      footer {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-around;
        width: 100%;
        height: fit-content;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

    /* footer: subsections */

      /* footer sub: copyright / name */

        .footName {
          text-align: center;
          font-style: italic;
          letter-spacing: .25rem;
          font-size: 1.25rem;
          margin: auto;
        }

      /* footer sub: socials instagram */

        /* socials instagram container */
        .footInsta {
          text-align: center;
          mix-blend-mode: difference;
          margin: auto;
        }

        /* socials instagram icon */
        .instag {  width: 15px;}
        .instag:hover {  opacity: .8;}

    /* footer: onUnload Transition */
      .onUnloadFoot {
        transform: translateY(1000px);
        transition: all 1s ease-out;
      }
  /* #endregion */

/* #endregion */

/* #region Media Queries */

  /* #region Tablets Media Query */
  @media only screen and (min-width: 600px) {

    a.box h3 {
      padding: 1rem;
      width: 100%;
    }
  }
  /* #endregion */

  /* #region DESKTOP Media Query */
  @media only screen and (min-width: 800px) {
    /* #region SITE OVERALL */

      /* #region SITE OVERALL meta */

        html {  font-size: clamp(16px, 3vmin, 20px);}
      /* #endregion */

      /* #region SITE OVERALL content */

        #whole {
          display: grid;
          max-width: 1000px;
          margin: auto auto 3rem auto;
          padding: 0;
          grid-template-columns: repeat(21, 1fr);
          grid-template-rows: repeat(9, 5rem) auto;
        }
      /* #endregion */

    /* #endregion */

    /* #region DESKTOP MAIN */

      /* #region DESKTOP MAIN overall */

        /* DESKTOP MAIN overall: Element Styling */

          main {
            position: static;
            background: var(--mainCont);
            grid-area: 4 / 8 / 8 / 21;
            max-width: clamp(600px, 55vw, 800px);
            overflow: show;
            min-height: max-content;
            margin: auto;
            margin-top: -1rem;
            padding: 2rem var(--mainGridGap) 3rem var(--mainGridGap);
            z-index: 1;
          }

          .onHoverMain {  transform: none;}

          #home main {  background-color: var(--mainCont);}

      /* #endregion */

      /* #region DESKTOP MAIN Body */
      
        /* #region DESKTOP MAIN Body Headers */
        
          main h1 {
            margin: 0 0 2rem 0;
            font-size: 2.5rem;
            border-bottom: none;
          }

          main h2 {
            font-size: 1.8rem;
            border-bottom: 7px solid var(--bodyHead2Ln);
          }

          main a.button {
            font-size: 1.5rem;
            margin: 2rem auto;
          }
        /* #endregion */
      
        /* body paragraphs */
        
          main p {  margin: .5rem 1.5rem 1.5rem 1.5rem;}

          /* main ul styling for .projtop from boxes.css
          (aka. projstandard top description list):

            .card ul, ul.projtop {
              height: auto;
              list-style: none;
              padding: .25rem;
              transition: all 1.5s ease-in-out 0s;
            }
            
            .card ul li, ul.projtop li {
                padding: .125rem;
            }
            
            .card ul .label, ul.projtop .label {
              display: inline-block;
              font-weight: bold;
              text-align: right;
            } */

      /* #endregion */

      /* #region DESKTOP MAIN footer */

        /* DESKTOP footer: container */
          footer {  margin: 3rem 0 2rem 0;}

      /* #endregion */ 
      
    /* #endregion */
  }
  /* #endregion */

  /* #region SHORTER screen */
  @media only screen and (max-height: 760px) and (min-width: 800px) {
    /* #region SHORTER MAIN */

      /* #region SHORTER MAIN overall */

        /* SHORTER MAIN overall: Element Styling */

          main {
            grid-row: 4 / 9;
            grid-column: 7 / span 17;
          }
          
          .onHoverMain {  transform: none;}
      /* #endregion */
    /* #endregion */
  }
  /* #endregion */

  /* #region SMALL screen */
  @media only screen and (max-height: 760px) and (max-width: 799px) {
    /* #region SMALL MAIN */

      /* #region SMALL MAIN overall */

        /* SMALL MAIN overall: Element Styling */

          main {  top: 30vmin;}
          .onHoverMain {  transform: translateY(35vmin);}
      /* #endregion */
    /* #endregion */
  }
  /* #endregion */

  /* #region WIDE screen */
  @media only screen and (max-height: 600px) {
    /* #region WIDE MAIN */

      /* #region WIDE MAIN overall */

        /* WIDE MAIN overall: Element Styling */

          main {  top: 40vmin;}

      /* #endregion */

    /* #endregion */
  }
  /* #endregion */

/* #endregion */